# Dependency directories
node_modules/
jspm_packages/
web_stage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server temporary files or uploads
backend/uploads/
uploads/
*.log

# Build outputs
dist/
build/
.next/
out/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Vite cache
.vite/

